services:
  backend:
    build:
      context: ./wotermark-backend
      dockerfile: Dockerfile
    expose:
      - "8080"
    environment:
      - PORT=8080
    networks:
      - wotermark-network
      - dokploy-network

  frontend:
    build:
      context: ./wotermark-frontend
      dockerfile: Dockerfile
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - wotermark-network
      - dokploy-network

networks:
  dokploy-network:
    external: true
  wotermark-network:
    driver: bridge
