services:
  backend:
    build:
      context: ./wotermark-backend
      dockerfile: Dockerfile
    expose:
      - "8080"

  frontend:
    build:
      context: ./wotermark-frontend
      dockerfile: Dockerfile
    expose:
      - "80"
    depends_on:
      - backend
  router:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
